<h1>Willkommen bei den Webpiraten</h1>
<p>Dies ist eine Lernplattform f체r Programmieranf채nger.</p>
<p>Unter <%= link_to 'Hilfe', :controller => :help, :action => :index %> findest du eine kurze Einf체hrung. </p>
<p>Oder starte gleich unter <%= link_to 'Lernen', :controller => :game, :action => :index %>, w채hle deine Programmiersprache und tobe dich aus.</p>
