<div class="row">

  <div class="col-md-4 code-wrapper">

      <div class="row code-controls pull-right">

          <div class="btn-group">
              <button type="button" class="btn btn-warning dropdown-toggle pull-right" id="watchlist-dropdown" data-toggle="dropdown">
                  Beobachtete Variablen <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" id='watchlist'>
                  <div id="watchlist-default">Mache einen Doppelklick auf Variablen zum Beobachten der Werte</div>
              </ul>
              <div id="watchlist-size">0</div>
          </div>

          <div class="btn-group">
              <button type="button" class="btn btn-success" id="runBtn">
                  <span class="glyphicon glyphicon-play"> </span> Ausführen
              </button>
              <!--<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a id="debugBtn" style="cursor: pointer">
                      <span class="glyphicon glyphicon-search"> </span> Debug
                  </a></li>
              </ul>-->
          </div>
      </div>
      <div class="row code-controls pull-right hidden" id="disabled-state-controls">
          <!--<button class="btn btn-default" id="resetBtn">-->
              <!--<span class="glyphicon glyphicon-step-backward"> </span> Reset-->
          <!--</button>-->
          <button class="btn btn-default" id="stopBtn">
              <span class="glyphicon glyphicon-stop"> </span> Stop
          </button>
          <button class="btn btn-default" id="pauseBtn">
              <span class="glyphicon glyphicon-pause"> </span> Pause
          </button>
          <button class="btn btn-default" id="stepBtn">
              <span class="glyphicon glyphicon-step-forward"> </span> Schritt
          </button>
      </div>
      <div class="clearfix"></div>
      <div class="row">

<!-- no indentation because CodeMirror would display it -->
<textarea id="codemirror" style="display: none">
print "Hallo Welt!"
i = 0
(1..3).each do
  print "Durchlauf #{i}"
  move
  turn(:right)
  turn(:left)
  turn(:back)
  turn
  look
  look(:right)
  look(:left)
  look(:back)
  look(:here)
  look(:front)
  put
  take
  i += 1
end
</textarea>
          <div id="codeMirror-loading">
              <%= image_tag 'ajax-loader.gif' %> Lade Daten
          </div>
        </div>
  </div>
  <div class="col-md-8 grid-wrapper">
      <div class="btn-group gameObject-controls">
          <button class=" btn btn-default" id="addTreasure">
              <span class="glyphicon glyphicon-arrow-left"> </span> Schatz
          </button>
          <button class=" btn btn-default" id="addMonster">
              <span class="glyphicon glyphicon-arrow-up"> </span> Kraken
          </button>
          <button class=" btn btn-default" id="addWave">
              <span class="glyphicon glyphicon-arrow-right"> </span> Welle
          </button>
      </div>
      <div id="gridData" style="display: none" hidden>
      {
      "width":21,
      "height":10,
      "objects":[
      {
      "name":"treasure",
      "x":0,
      "y":6
      },
      {
      "name":"treasure",
      "x":0,
      "y":7
      },
      {
      "name":"treasure",
      "x":15,
      "y":9
      },
      {
      "name":"treasure",
      "x":16,
      "y":9
      },
      {
      "name":"treasure",
      "x":17,
      "y":9
      },
      {
      "name":"treasure",
      "x":18,
      "y":9
      },
      {
      "name":"treasure",
      "x":19,
      "y":9
      },
      {
      "name":"treasure",
      "x":20,
      "y":9
      },
      {
      "name":"treasure",
      "x":20,
      "y":8
      },
      {
      "name":"treasure",
      "x":20,
      "y":7
      },
      {
      "name":"treasure",
      "x":20,
      "y":6
      },
      {
      "name":"treasure",
      "x":20,
      "y":5
      },
      {
      "name":"treasure",
      "x":20,
      "y":4
      },
      {
      "name":"treasure",
      "x":20,
      "y":3
      },
      {
      "name":"treasure",
      "x":20,
      "y":2
      },
      {
      "name":"treasure",
      "x":20,
      "y":1
      },
      {
      "name":"treasure",
      "x":20,
      "y":0
      },
      {
      "name":"treasure",
      "x":19,
      "y":0
      },
      {
      "name":"treasure",
      "x":18,
      "y":0
      },
      {
      "name":"treasure",
      "x":17,
      "y":0
      },
      {
      "name":"treasure",
      "x":16,
      "y":0
      },
      {
      "name":"treasure",
      "x":15,
      "y":0
      },
      {
      "name":"treasure",
      "x":14,
      "y":0
      },
      {
      "name":"treasure",
      "x":13,
      "y":0
      },
      {
      "name":"treasure",
      "x":12,
      "y":0
      },
      {
      "name":"treasure",
      "x":11,
      "y":0
      },
      {
      "name":"treasure",
      "x":10,
      "y":0
      },
      {
      "name":"treasure",
      "x":9,
      "y":0
      },
      {
      "name":"treasure",
      "x":8,
      "y":0
      },
      {
      "name":"treasure",
      "x":7,
      "y":0
      },
      {
      "name":"treasure",
      "x":6,
      "y":0
      },
      {
      "name":"treasure",
      "x":5,
      "y":0
      },
      {
      "name":"treasure",
      "x":4,
      "y":0
      },
      {
      "name":"treasure",
      "x":3,
      "y":0
      },
      {
      "name":"treasure",
      "x":2,
      "y":0
      },
      {
      "name":"treasure",
      "x":1,
      "y":0
      },
      {
      "name":"treasure",
      "x":0,
      "y":0
      },
      {
      "name":"treasure",
      "x":0,
      "y":1
      },
      {
      "name":"treasure",
      "x":0,
      "y":2
      },
      {
      "name":"treasure",
      "x":0,
      "y":3
      },
      {
      "name":"treasure",
      "x":0,
      "y":4
      },
      {
      "name":"treasure",
      "x":0,
      "y":5
      },
      {
      "name":"treasure",
      "x":1,
      "y":5
      },
      {
      "name":"treasure",
      "x":2,
      "y":5
      },
      {
      "name":"treasure",
      "x":3,
      "y":5
      },
      {
      "name":"treasure",
      "x":4,
      "y":5
      },
      {
      "name":"treasure",
      "x":5,
      "y":5
      },
      {
      "name":"treasure",
      "x":6,
      "y":5
      },
      {
      "name":"treasure",
      "x":7,
      "y":5
      },
      {
      "name":"treasure",
      "x":8,
      "y":5
      },
      {
      "name":"treasure",
      "x":9,
      "y":5
      },
      {
      "name":"treasure",
      "x":10,
      "y":5
      },
      {
      "name":"treasure",
      "x":11,
      "y":5
      },
      {
      "name":"treasure",
      "x":12,
      "y":5
      },
      {
      "name":"treasure",
      "x":13,
      "y":5
      },
      {
      "name":"treasure",
      "x":14,
      "y":5
      },
      {
      "name":"treasure",
      "x":15,
      "y":5
      },
      {
      "name":"treasure",
      "x":16,
      "y":5
      },
      {
      "name":"treasure",
      "x":17,
      "y":5
      },
      {
      "name":"treasure",
      "x":18,
      "y":5
      },
      {
      "name":"treasure",
      "x":19,
      "y":5
      },
      {
      "name":"treasure",
      "x":19,
      "y":4
      },
      {
      "name":"treasure",
      "x":19,
      "y":3
      },
      {
      "name":"treasure",
      "x":19,
      "y":2
      },
      {
      "name":"treasure",
      "x":19,
      "y":1
      },
      {
      "name":"treasure",
      "x":18,
      "y":1
      },
      {
      "name":"treasure",
      "x":17,
      "y":1
      },
      {
      "name":"treasure",
      "x":16,
      "y":1
      },
      {
      "name":"treasure",
      "x":15,
      "y":1
      },
      {
      "name":"treasure",
      "x":14,
      "y":1
      },
      {
      "name":"treasure",
      "x":13,
      "y":1
      },
      {
      "name":"treasure",
      "x":12,
      "y":1
      },
      {
      "name":"treasure",
      "x":11,
      "y":1
      },
      {
      "name":"treasure",
      "x":10,
      "y":1
      },
      {
      "name":"treasure",
      "x":9,
      "y":1
      },
      {
      "name":"treasure",
      "x":8,
      "y":1
      },
      {
      "name":"treasure",
      "x":7,
      "y":1
      },
      {
      "name":"treasure",
      "x":6,
      "y":1
      },
      {
      "name":"treasure",
      "x":5,
      "y":1
      },
      {
      "name":"treasure",
      "x":4,
      "y":1
      },
      {
      "name":"treasure",
      "x":3,
      "y":1
      },
      {
      "name":"treasure",
      "x":2,
      "y":1
      },
      {
      "name":"treasure",
      "x":1,
      "y":1
      },
      {
      "name":"treasure",
      "x":1,
      "y":2
      },
      {
      "name":"treasure",
      "x":1,
      "y":3
      },
      {
      "name":"treasure",
      "x":1,
      "y":4
      },
      {
      "name":"treasure",
      "x":2,
      "y":4
      },
      {
      "name":"treasure",
      "x":3,
      "y":4
      },
      {
      "name":"treasure",
      "x":4,
      "y":4
      },
      {
      "name":"treasure",
      "x":5,
      "y":4
      },
      {
      "name":"treasure",
      "x":6,
      "y":4
      },
      {
      "name":"treasure",
      "x":7,
      "y":4
      },
      {
      "name":"treasure",
      "x":8,
      "y":4
      },
      {
      "name":"treasure",
      "x":9,
      "y":4
      },
      {
      "name":"treasure",
      "x":10,
      "y":4
      },
      {
      "name":"treasure",
      "x":11,
      "y":4
      },
      {
      "name":"treasure",
      "x":12,
      "y":4
      },
      {
      "name":"treasure",
      "x":13,
      "y":4
      },
      {
      "name":"treasure",
      "x":14,
      "y":4
      },
      {
      "name":"treasure",
      "x":15,
      "y":4
      },
      {
      "name":"treasure",
      "x":16,
      "y":4
      },
      {
      "name":"treasure",
      "x":17,
      "y":4
      },
      {
      "name":"treasure",
      "x":18,
      "y":4
      },
      {
      "name":"treasure",
      "x":18,
      "y":3
      },
      {
      "name":"treasure",
      "x":18,
      "y":2
      },
      {
      "name":"treasure",
      "x":17,
      "y":2
      },
      {
      "name":"treasure",
      "x":16,
      "y":2
      },
      {
      "name":"treasure",
      "x":15,
      "y":2
      },
      {
      "name":"treasure",
      "x":14,
      "y":2
      },
      {
      "name":"treasure",
      "x":13,
      "y":2
      },
      {
      "name":"treasure",
      "x":12,
      "y":2
      },
      {
      "name":"treasure",
      "x":11,
      "y":2
      },
      {
      "name":"treasure",
      "x":10,
      "y":2
      },
      {
      "name":"treasure",
      "x":9,
      "y":2
      },
      {
      "name":"treasure",
      "x":8,
      "y":2
      },
      {
      "name":"treasure",
      "x":7,
      "y":2
      },
      {
      "name":"treasure",
      "x":6,
      "y":2
      },
      {
      "name":"treasure",
      "x":5,
      "y":2
      },
      {
      "name":"treasure",
      "x":4,
      "y":2
      },
      {
      "name":"treasure",
      "x":3,
      "y":2
      },
      {
      "name":"treasure",
      "x":2,
      "y":2
      },
      {
      "name":"treasure",
      "x":2,
      "y":3
      },
      {
      "name":"treasure",
      "x":3,
      "y":3
      },
      {
      "name":"treasure",
      "x":4,
      "y":3
      },
      {
      "name":"treasure",
      "x":5,
      "y":3
      },
      {
      "name":"treasure",
      "x":6,
      "y":3
      },
      {
      "name":"treasure",
      "x":7,
      "y":3
      },
      {
      "name":"treasure",
      "x":8,
      "y":3
      },
      {
      "name":"treasure",
      "x":9,
      "y":3
      },
      {
      "name":"treasure",
      "x":10,
      "y":3
      },
      {
      "name":"treasure",
      "x":11,
      "y":3
      },
      {
      "name":"treasure",
      "x":12,
      "y":3
      },
      {
      "name":"treasure",
      "x":13,
      "y":3
      },
      {
      "name":"treasure",
      "x":14,
      "y":3
      },
      {
      "name":"treasure",
      "x":15,
      "y":3
      },
      {
      "name":"treasure",
      "x":16,
      "y":3
      },
      {
      "name":"treasure",
      "x":17,
      "y":3
      },
      {
      "name":"treasure",
      "x":1,
      "y":6
      },
      {
      "name":"treasure",
      "x":2,
      "y":6
      },
      {
      "name":"treasure",
      "x":3,
      "y":6
      },
      {
      "name":"treasure",
      "x":4,
      "y":6
      },
      {
      "name":"treasure",
      "x":5,
      "y":6
      },
      {
      "name":"treasure",
      "x":6,
      "y":6
      },
      {
      "name":"treasure",
      "x":7,
      "y":6
      },
      {
      "name":"treasure",
      "x":8,
      "y":6
      },
      {
      "name":"treasure",
      "x":9,
      "y":6
      },
      {
      "name":"treasure",
      "x":10,
      "y":6
      },
      {
      "name":"treasure",
      "x":11,
      "y":6
      },
      {
      "name":"treasure",
      "x":12,
      "y":6
      },
      {
      "name":"treasure",
      "x":13,
      "y":6
      },
      {
      "name":"treasure",
      "x":14,
      "y":6
      },
      {
      "name":"treasure",
      "x":15,
      "y":6
      },
      {
      "name":"treasure",
      "x":16,
      "y":6
      },
      {
      "name":"treasure",
      "x":17,
      "y":6
      },
      {
      "name":"treasure",
      "x":18,
      "y":6
      },
      {
      "name":"treasure",
      "x":19,
      "y":6
      },
      {
      "name":"treasure",
      "x":19,
      "y":7
      },
      {
      "name":"treasure",
      "x":19,
      "y":8
      },
      {
      "name":"treasure",
      "x":18,
      "y":8
      },
      {
      "name":"treasure",
      "x":17,
      "y":8
      },
      {
      "name":"treasure",
      "x":16,
      "y":8
      },
      {
      "name":"treasure",
      "x":15,
      "y":8
      },
      {
      "name":"treasure",
      "x":14,
      "y":8
      },
      {
      "name":"treasure",
      "x":13,
      "y":8
      },
      {
      "name":"treasure",
      "x":12,
      "y":8
      },
      {
      "name":"treasure",
      "x":11,
      "y":8
      },
      {
      "name":"treasure",
      "x":10,
      "y":8
      },
      {
      "name":"treasure",
      "x":9,
      "y":8
      },
      {
      "name":"treasure",
      "x":8,
      "y":8
      },
      {
      "name":"treasure",
      "x":7,
      "y":8
      },
      {
      "name":"treasure",
      "x":6,
      "y":8
      },
      {
      "name":"treasure",
      "x":5,
      "y":8
      },
      {
      "name":"treasure",
      "x":4,
      "y":8
      },
      {
      "name":"treasure",
      "x":3,
      "y":8
      },
      {
      "name":"treasure",
      "x":2,
      "y":8
      },
      {
      "name":"treasure",
      "x":1,
      "y":8
      },
      {
      "name":"treasure",
      "x":0,
      "y":8
      },
      {
      "name":"treasure",
      "x":0,
      "y":9
      },
      {
      "name":"treasure",
      "x":1,
      "y":9
      },
      {
      "name":"treasure",
      "x":2,
      "y":9
      },
      {
      "name":"treasure",
      "x":3,
      "y":9
      },
      {
      "name":"treasure",
      "x":4,
      "y":9
      },
      {
      "name":"treasure",
      "x":5,
      "y":9
      },
      {
      "name":"treasure",
      "x":6,
      "y":9
      },
      {
      "name":"treasure",
      "x":7,
      "y":9
      },
      {
      "name":"treasure",
      "x":8,
      "y":9
      },
      {
      "name":"treasure",
      "x":9,
      "y":9
      },
      {
      "name":"treasure",
      "x":10,
      "y":9
      },
      {
      "name":"treasure",
      "x":11,
      "y":9
      },
      {
      "name":"treasure",
      "x":12,
      "y":9
      },
      {
      "name":"treasure",
      "x":13,
      "y":9
      },
      {
      "name":"treasure",
      "x":14,
      "y":9
      },
      {
      "name":"treasure",
      "x":1,
      "y":7
      },
      {
      "name":"treasure",
      "x":2,
      "y":7
      },
      {
      "name":"treasure",
      "x":3,
      "y":7
      },
      {
      "name":"treasure",
      "x":4,
      "y":7
      },
      {
      "name":"treasure",
      "x":5,
      "y":7
      },
      {
      "name":"treasure",
      "x":6,
      "y":7
      },
      {
      "name":"treasure",
      "x":7,
      "y":7
      },
      {
      "name":"treasure",
      "x":8,
      "y":7
      },
      {
      "name":"treasure",
      "x":9,
      "y":7
      },
      {
      "name":"treasure",
      "x":10,
      "y":7
      },
      {
      "name":"treasure",
      "x":11,
      "y":7
      },
      {
      "name":"treasure",
      "x":12,
      "y":7
      },
      {
      "name":"treasure",
      "x":13,
      "y":7
      },
      {
      "name":"treasure",
      "x":14,
      "y":7
      },
      {
      "name":"treasure",
      "x":15,
      "y":7
      },
      {
      "name":"treasure",
      "x":16,
      "y":7
      },
      {
      "name":"treasure",
      "x":17,
      "y":7
      },
      {
      "name":"treasure",
      "x":18,
      "y":7
      }
      ],
      "ship":{
      "name":"ship",
      "x":18,
      "y":7,
      "rotation":0
      }
      }
      </div>
      <canvas width="700" height="350" id="pirateGrid">Your browser is not supported!</canvas>
  </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Beobachtete Variablen</h4>
        <div id="watchlistDebugger">
            <table class="table table-hover table-condensed table-striped table-responsive">
                <thead>
                  <tr>
                      <th>Variable</th>
                      <th>Belegung</th>
                  </tr>
                </thead>
                <tbody> <%# Required to properly set allocations the first time %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-8">
        <h4>
            <%= t("game.console.label") %>:
            <span class="pull-right glyphicon glyphicon-trash" id="clearConsoleBtn" title="Konsole leeren"></span>
        </h4>
        <div name="console" id="console"> </div>
    </div>
</div>

<div id="imagePreloader" style="display: none" hidden></div>
<%= javascript_include_tag 'pirates/simulation', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'game'%>