<div class="row">

  <div class="col-md-4 code-wrapper">

      <div class="row code-controls pull-right">
          <div class="btn-group">
              <button type="button" class="btn btn-success" id="runBtn">
                  <span class="glyphicon glyphicon-play"> </span> Ausführen
              </button>
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a id="debugBtn" style="cursor: pointer">
                      <span class="glyphicon glyphicon-search"> </span> Debug
                  </a></li>
              </ul>
          </div>
      </div>
      <div class="row code-controls pull-right hidden" id="disabled-state-controls">
          <button class="btn btn-default" id="resetBtn">
              <span class="glyphicon glyphicon-step-backward"> </span> Reset
          </button>
          <button class="btn btn-default" id="stopBtn">
              <span class="glyphicon glyphicon-stop"> </span> Stop
          </button>
          <button class="btn btn-default" id="pauseBtn">
              <span class="glyphicon glyphicon-pause"> </span> Pause
          </button>
      </div>
      <div class="clearfix"></div>
      <div class="row">

<!-- no indentation because CodeMirror would display it -->
<textarea id="codemirror" style="display: none">
print "Hallo Welt!"

(1..3).each do
  move()
  turnRight()
  turnLeft()
end
</textarea>
          <div id="codeMirror-loading">
              <%= image_tag 'ajax-loader.gif' %> Lade Daten
          </div>
        </div>
  </div>
  <div class="col-md-8 grid-wrapper">
      <div class="btn-group gameObject-controls">
          <button class="btn btn-default" id="addTreasure">
              <span class="glyphicon glyphicon-arrow-left"> </span> Schatz
          </button>
          <button class="btn btn-default" id="addMonster">
              <span class="glyphicon glyphicon-arrow-up"> </span> Kraken
          </button>
          <button class="btn btn-default" id="addWave">
              <span class="glyphicon glyphicon-arrow-right"> </span> Welle
          </button>
      </div>
      <canvas width="700" height="400" id="pirateGrid">Your browser is not supported!</canvas>
  </div>
</div>

  <%= t("socketConsole.label") %>:<br />
  <div name="console" id="console"> </div>

<%= javascript_include_tag 'pirates/game', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'game'%>