<h1>Sprachauswahl</h1>
<p>Folgende Programmiersprachen werden zur Zeit von WebPiraten akzeptiert</p>
<br>
<br>
<%@language.each do |language| %>
    <p>
    <p><%= link_to language, :controller => 'game', :action => "learn", :name => language%></p>
    <hr/>
    </p>
<% end %>
