/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 *=
 */
@import "layout.css.less"; // html5 boilerplate & custom bootstrap

body {
  margin-top: 60px;
}

#account-dropdown {
  padding: 20px;
  min-width: 250px;
}
span.translation_missing {
  text-decoration: underline !important;
  color: red !important;
  cursor: help !important;
}