//= require codemirror
//= require codemirror/themes/monokai
//= require codemirror/themes/blackboard
//= require codemirror/addons/display/fullscreen
//= require jquery.ui.all
//@import "custom_bootstrap/custom_bootstrap";

@CodeMirrorBorderRadius: 5px;
@CodeMirrorDisabledBg: #2f0707;
@DebuggerRowHeight: 200px;

.divider {
  border-top: solid 1px #e5e5e5;
  margin-top: 5px;
  margin-bottom: 10px;
}

.code-wrapper {

  .code-controls {
    margin-bottom: 10px;
  }

  #watchlist-default {
    text-align: center;
  }

  #watchlist-size {
    margin: 5px;
    text-align: center;
    float: right;
    color: white;
    border: solid red 1px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: red;
    box-shadow: red 0px 0px 1px;
    display: block;
    padding-top: 1px;
    float: right;
  }
  ul#watchlist {
    padding: 5px 15px;
    min-width: 217px;
    .watchlist-remove {
      cursor: pointer;
    }
  }
}
.flying {
  color: #a6e22e;
  background-color: #272822;
  border-radius: 5px;
  padding: 5px;
}

#closeFullScreenBtn {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 9999999;
}

// CodeMirror
#codeMirror-loading {
  margin: 25px auto;
  text-align: center;
}

.CodeMirror {
  border-radius: @CodeMirrorBorderRadius;
  height: 340px;

  &.editing-disabled {
    background: @CodeMirrorDisabledBg;
  }

  .CodeMirror-linenumbers {
    border-radius: @CodeMirrorBorderRadius;
  }
  .processedLine {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &.CodeMirror-fullscreen {
    top: 51px;
  }
}

// Grid
.grid-wrapper {
  text-align: center;
  .grid-controls {
    margin-right: 9px;

    .grid-resetter{
      float: left;
      max-width: 110px;
      margin-left: 10px;
    }
    .gameObject-controls {
      text-align: center;
      margin-bottom: 10px;
      float: right;
    }
    .serialization-controls {
      float: right;
      margin-left: 10px;
    }
  }
}

.speed-controls {
  margin-left: 25px;
  width: 200px;
  text-align: left;
  margin-left: 15px;

  #simulationSpeed {
    border: none;
    color: #ccc;
  }

  #speedSlider {
    &.ui-slider {
      border-color: #4cae4c;
    }
    .ui-state-default, .ui-widget-content {
      border-color: #4cae4c;
    }
    .ui-slider-handle {
      background: #5cb85c;
      border-color: #4cae4c;

      &.ui-state-focus,
      &.ui-state-active,
      &.ui-state-hover {
        border: solid 1px #398439 !important;
        box-shadow: none;
      }
    }
    .ui-slider-range {
      background: #5cb85c;
    }
  }
}

#clearConsoleBtn {
  cursor: pointer;
}

#watchlistDebugger {
  height: @DebuggerRowHeight;
  overflow: auto;
  .highlight, .highlight:nth-child(odd), .highlight:nth-child(even), .highlight td {
    background-color: #ffcf97;
  }
}

.console-wrapper {
  padding: 0; // override bootstrap so that it is aligned with CodeMirror
}
#console {
  border: solid 1px #272822;
  background-color: #272822;
  border-radius: 5px;
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  padding: 10px 0;
  height: @DebuggerRowHeight;
  margin-bottom: 15px;
  overflow: auto;

  p {
    margin: 0;
    padding: 0 10px;
    &.error {
      background-color: #2f0707;
    }
    &.warning {
      background-color: #808B00;
    }
  }
}
.saveDialog {
  a.btn {
    margin-top: 5px;
  }
}
#serialization-modal {
  .modal-body {
    padding: 10px 25px 0 25px;
    .row {
      margin-bottom: 10px;
    }
    .serialize-load {

    }
    .serialize-single {
      text-align: center;
    }
  }
  .serialize-all>div {
  }
}
